<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.MessagedetailsMapper" >
  <resultMap id="BaseResultMap" type="com.yb.pojo.Messagedetails" >
    <id column="mess_id" property="messId" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="quantities" property="quantities" jdbcType="INTEGER" />
    <result column="cost" property="cost" jdbcType="REAL" />
    <result column="cus_id" property="cusId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mess_id, createtime, quantities, cost, cus_id, name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yb.pojo.MessagedetailsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from messagedetails
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from messagedetails
    where mess_id = #{messId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from messagedetails
    where mess_id = #{messId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yb.pojo.MessagedetailsExample" >
    delete from messagedetails
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yb.pojo.Messagedetails" >
    insert into messagedetails (mess_id, createtime, quantities, 
      cost, cus_id, name)
    values (#{messId,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{quantities,jdbcType=INTEGER}, 
      #{cost,jdbcType=REAL}, #{cusId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yb.pojo.Messagedetails" >
    insert into messagedetails
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="messId != null" >
        mess_id,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="quantities != null" >
        quantities,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="cusId != null" >
        cus_id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="messId != null" >
        #{messId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="quantities != null" >
        #{quantities,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=REAL},
      </if>
      <if test="cusId != null" >
        #{cusId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yb.pojo.MessagedetailsExample" resultType="java.lang.Integer" >
    select count(*) from messagedetails
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update messagedetails
    <set >
      <if test="record.messId != null" >
        mess_id = #{record.messId,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.quantities != null" >
        quantities = #{record.quantities,jdbcType=INTEGER},
      </if>
      <if test="record.cost != null" >
        cost = #{record.cost,jdbcType=REAL},
      </if>
      <if test="record.cusId != null" >
        cus_id = #{record.cusId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update messagedetails
    set mess_id = #{record.messId,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      quantities = #{record.quantities,jdbcType=INTEGER},
      cost = #{record.cost,jdbcType=REAL},
      cus_id = #{record.cusId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yb.pojo.Messagedetails" >
    update messagedetails
    <set >
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="quantities != null" >
        quantities = #{quantities,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=REAL},
      </if>
      <if test="cusId != null" >
        cus_id = #{cusId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where mess_id = #{messId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yb.pojo.Messagedetails" >
    update messagedetails
    set createtime = #{createtime,jdbcType=TIMESTAMP},
      quantities = #{quantities,jdbcType=INTEGER},
      cost = #{cost,jdbcType=REAL},
      cus_id = #{cusId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
    where mess_id = #{messId,jdbcType=INTEGER}
  </update>
</mapper>