<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.PostageMapper" >
  <resultMap id="BaseResultMap" type="com.yb.pojo.Postage" >
    <id column="post_id" property="postId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="callprice" property="callprice" jdbcType="VARCHAR" />
    <result column="messageprice" property="messageprice" jdbcType="VARCHAR" />
    <result column="rent" property="rent" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    post_id, type, callprice, messageprice, rent
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yb.pojo.PostageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from postage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from postage
    where post_id = #{postId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from postage
    where post_id = #{postId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yb.pojo.PostageExample" >
    delete from postage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yb.pojo.Postage" >
    insert into postage (post_id, type, callprice, 
      messageprice, rent)
    values (#{postId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{callprice,jdbcType=VARCHAR}, 
      #{messageprice,jdbcType=VARCHAR}, #{rent,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.yb.pojo.Postage" >
    insert into postage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        post_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="callprice != null" >
        callprice,
      </if>
      <if test="messageprice != null" >
        messageprice,
      </if>
      <if test="rent != null" >
        rent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="callprice != null" >
        #{callprice,jdbcType=VARCHAR},
      </if>
      <if test="messageprice != null" >
        #{messageprice,jdbcType=VARCHAR},
      </if>
      <if test="rent != null" >
        #{rent,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yb.pojo.PostageExample" resultType="java.lang.Integer" >
    select count(*) from postage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update postage
    <set >
      <if test="record.postId != null" >
        post_id = #{record.postId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.callprice != null" >
        callprice = #{record.callprice,jdbcType=VARCHAR},
      </if>
      <if test="record.messageprice != null" >
        messageprice = #{record.messageprice,jdbcType=VARCHAR},
      </if>
      <if test="record.rent != null" >
        rent = #{record.rent,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update postage
    set post_id = #{record.postId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR},
      callprice = #{record.callprice,jdbcType=VARCHAR},
      messageprice = #{record.messageprice,jdbcType=VARCHAR},
      rent = #{record.rent,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yb.pojo.Postage" >
    update postage
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="callprice != null" >
        callprice = #{callprice,jdbcType=VARCHAR},
      </if>
      <if test="messageprice != null" >
        messageprice = #{messageprice,jdbcType=VARCHAR},
      </if>
      <if test="rent != null" >
        rent = #{rent,jdbcType=REAL},
      </if>
    </set>
    where post_id = #{postId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yb.pojo.Postage" >
    update postage
    set type = #{type,jdbcType=VARCHAR},
      callprice = #{callprice,jdbcType=VARCHAR},
      messageprice = #{messageprice,jdbcType=VARCHAR},
      rent = #{rent,jdbcType=REAL}
    where post_id = #{postId,jdbcType=INTEGER}
  </update>
</mapper>